// Main scss file inclue all other files here
$grey: #333;

* {
	box-sizing: border-box;
}

body {
	background: #f0f0f0;
}

.controls {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.controls-left,
.controls-right {
	content: '';
	width: 0;
	height: 0;
	float: left;
	cursor: pointer;
}

.controls-left {
	border-right: 12px solid rgba(0,0,0,.2);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.controls-right {
	border-left: 12px solid rgba(0,0,0,.2);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	margin-left: 20px;
}

.slide {
	height: 100%;
	overflow: auto;
	padding: 100px 15%;
}

.slide-content {
	position: relative;
}

.middle {
	top:50%;
	transform: translateY(-50%);
}

.center {
	text-align: center
}

@import "../../slides/styles/slides";