<h1>Angular Components</h1>
<div class="box-container">
	<div class="box-1">Services</div>
	<div class="two-way-arrow"></div>
	<div class="box-2">Controllers</div>
	<div class="two-way-arrow"></div>
	<div class="box-3">Views / Directives</div>
</div>

<div class="box-container">
	<div class="list">
		<h3>Services</h3>
		<ul>
			<li>Business Logic</li>
			<li>Complex State</li>
			<li>Communicate with server</li>
		</ul>
	</div>
	<div class="spacer"></div>
	<div class="list">
		<h3>Controllers</h3>
		<ul>
			<li>Main player</li>
			<li>Basic Logic</li>
			<li>Basic State</li>
			<li>Should be thin</li>
		</ul>
	</div>
	<div class="spacer"></div>
	<div class="list">
		<h3>View</h3>
		<ul>
			<li>Contain Directives</li>
			<li>UI</li>
			<li>2 Way binding</li>
		</ul>
	</div>
</div>





